# Data Science Tools and  Ecosystem

This notebook gives a brief explanation of some data science tools and also introduce its reader to the Data science ecosystem

**Objectives:**
* List popular languages for Data Science
* List popular libraties  for Data Science
* Some data science toools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. c++
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas 
2. seaborn 
3. Numpy
4. ggplot
5. sklearn

|Data science tools|
|------------------|
|Jupyter Notebook|
|Jupyter Lab|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python
1. 2+3
2. 2*5
3. 2-3
4. 4/2

In [1]:
(3*4)+5
#his a simple arithmetic expression to mutiply then add integers.

17

In [2]:
200/60
#This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author 
Adeoti Rasheed Moyosore